@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {margin: 0; padding: 0;}
/*ul li {list-style-type: none;}*/
a {text-decoration: none;}
/*Font-Family*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Cormorant Upright', serif;*/

/*/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/= Index Page /=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=*/

/*------------------------------------------- Header Section -------------------------------------------*/

.header {float: left; width: 100%; position: absolute; /*background: linear-gradient(180deg, #1A1A1A 39.58%, rgba(26, 26, 26, 0) 100%);*/ font-family: 'Poppins', sans-serif; }
.header .header-top {float: left; width: 100%; padding: 20px 0 15px 0; border-bottom: 1px solid #272727; }
.header .header-top-m {float: left; width: 100%;}
.header .header-top-m .col-sm-6 {float: left;}
.header .header-top-m .header-top-r{text-align: right;}
.header .header-top-m ul {padding: 0;}
.header .header-top-m ul li {display: inline-block; font-size: 18px; }
.header .header-top-m ul li:first-child {padding-right: 40px; }
.header .header-top-m ul li a {text-decoration: none; color: #fff; font-weight: 400; font-size: 15px; }
.header .header-top-m .header-top-r input[type="text"] {background: #000000; border: 1px solid #FFFFFF; border-radius: 20.5px; font-weight: 400; font-size: 15px; width: 75%; padding-left: 15px; padding-right: 45px; color: #fff; height: 45px; }
.header .header-top-m .header-top-r input[type="text"]::placeholder {color: #fff;}
.header .header-top-m .header-top-r .h-search {position: relative; margin-right: 70px; }
.header .header-top-m .header-top-r .h-search i {position: absolute; color: #fff; font-size: 20px; top: 0px; right: 18px; }
.header .header-top-m .header-top-r input[type="text"]:focus-visible {outline: none;}
.col-sm-6.header-top-l i {padding-right: 6px; }
.header .header-main {float: left; width: 100%; }
.header .header-main .col-sm-3{float: left;}
.header-main img {padding-top: 12px; }
.header .header-main .col-sm-9 {float: left; padding-top: 29px; }
.header .header-main .header-main-r {text-align: right;}
.header .header-main ul li {display: inline-block;}
.header .header-main ul li a {color: #fff; text-decoration: none; font-size: 16px; font-weight: 400; margin-left: 60px; padding-top: 30px; }
.header .header-main ul li a:hover {color: #FFB800; border-top: 2px solid #FFB800; }
.header .header-main ul li a.active {color: #FFB800; border-top: 2px solid #FFB800;}

/*------------------------------------------- Bg Section -------------------------------------------*/

.bg {float: left; width: 100%; background: url(../image/bg.png); background-repeat: no-repeat; background-size: cover; height: 927px; overflow: hidden;}
.bg .bg-m {float: left; width: 100%; position: relative; top: 215px; }
.bg .bg-m .col-sm-6 {float: left;}
.bg .bg-m .bg-m-l {float: left; color: #fff; width: 100%; padding-top: 136px; }
.bg .bg-m .bg-m-r {float: left; width: 100%; text-align: center; position: relative;}
.bg .bg-m h3 {font-weight: 600; font-size: 30px; font-family: 'Cormorant Upright'; font-style: normal;text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); }
.bg .bg-m h1 {font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 65px; text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); }
.bg .bg-m h6 {font-family: 'Poppins'; font-style: normal; text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); font-weight: 400; font-size: 18px; float: left; width: 100%; margin-top: 15px; }
.bg .bg-m .bg-m-btn {color: #000; font-family: 'Poppins'; font-style: normal; font-weight: 500; margin-top: 17px; font-size: 16px; background: #fff; height: 55px; width: 195px; border-radius: 100px; }
.hand-mm {float: left; width: 100%; text-align: center; margin-top: 95px; position: relative; z-index: 2; }
.handbg-mm {float: left; width: 100%; text-align: center; position: absolute; z-index: 0; }
.bg .bg-m .bg-m-r .handbg { /*position: absolute; right: 0; top: 0;*/ max-width: 100%;}
.bg .bg-m .bg-m-r .hand {z-index: 3;/* position: relative; top: 87px; left: 25px; */max-width: 100%;}
.bg .bg-m .bg-m-r  .handbg {-webkit-animation: rotation 15s infinite linear; }
@-webkit-keyframes rotation {from {-webkit-transform: rotate(0deg); } to {-webkit-transform: rotate(359deg); } }

/*------------------------------------------- About-astro Section -------------------------------------------*/

.about-astro {float: left; width: 100%; padding: 2% 0; }
.about-astro h2 {color: #000; float: left; width: 100%; font-weight: 600; font-size: 50px; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; }
.about-astro h5 {float: left; width: 100%; text-align: center; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 17px; }
.about-astro .about-astro-cnt {float: left; width: 100%; padding: 5% 0; }
.about-astro .about-astro-cnt .col-sm-6 {float: left;}
.about-astro .about-astro-cnt h3 {font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 55px; color: #000; }
.about-astro .about-astro-cnt h6 {font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 17px; color: #000; margin-top: 30px; border-left: 1px solid #FF6F00; padding: 0 0 0 20px; }
.about-astro .about-astro-cnt .about30 {float: left; width: 100%; padding: 5% 0 15px 0; }
.about-astro .about-astro-cnt .about30 .col-sm-2 {float: left; text-align: center; }
.about-astro .about-astro-cnt .about30 .col-sm-1 {float: left; padding-top: 14px; }
.about-astro .about-astro-cnt .about30 .col-sm-7 {float: left; padding-top: 15px; padding-left: 7px; }
.about-astro .about-astro-cnt .about30 .col-sm-7  span {font-family: 'Cormorant Upright'; font-style: normal; font-weight: 400; font-size: 16px; color: #383838; }
.about-astro .about-astro-cnt .about30 .col-sm-7 p {font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 22px; margin-top: -6px; }
.about-astro .about-astro-cnt .about30 h2 {font-family: 'Croissant One'; font-style: normal; font-weight: 700; font-size: 50px; color: #F48F36; }
.about-astro .about-astro-cnt button {background: linear-gradient(90deg, #FFB800 1.79%, #FF6F00 100%); border-radius: 100px; border: none; color: #fff; width: 155px; height: 45px; margin-top: 20px; }
.about-astro .about-astro-cnt .about30 img {max-width: 100%; margin-right: 14px; }
.col-sm-6.about-astro-l img {
    max-width: 100%;
    height: 430px;
    border-radius: 40px;
}
.col-sm-6.about-astro-l {text-align: left; }
.col-sm-6.about-astro-rrr {padding-left: 35px; }
.about-astro-r {float: left; width: 100%; }

/*------------------------------------------- Horoscope Section -------------------------------------------*/

.horoscope {float: left; width: 100%; background: #F7FCFF; padding-top: 4%; }
.horoscope .horoscope-m {float: left; width: 100%;}
.horoscope .horoscope-m h2 {color: #000; float: left; width: 100%; font-weight: 600; font-size: 50px; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; }
.horoscope .horoscope-m h5 {float: left; width: 100%; text-align: center; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 17px; }
.horoscope .horoscope-card {float: left; width: 100%; padding: 2% 0; }
.horoscope .horoscope-card .horoscope-card-m {float: left; width: 100%; text-align: center; background: #FFFFFF; border: 0.5px solid #D0D0D0; border-radius: 20px; padding: 32px 0 20px 0; cursor: pointer; }
.horoscope .horoscope-card .col-sm-2 {float: left; padding: 0 12px; }
.horoscope .horoscope-card .horoscope-card-m h4 {font-family: 'Cormorant Upright'; font-style: normal; font-weight: 600; font-size: 30px; color: #000; margin-top: 10px; }
.horoscope .horoscope-card .horoscope-card-m h6 {font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 17px; color: #A0A0A0; margin-top: 10px; }
.horoscope .horoscope-card .horoscope-card-m img {max-width: 100%; box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05); border-radius: 100px; }
.horoscope .horoscope-card .horoscope-card-m:hover {background: linear-gradient(90deg, #FFB800 1.79%, #FF6F00 100%); color: #fff;}
.horoscope .horoscope-card .horoscope-card-m:hover h4 {color: #fff; transition: 0.3s; }
.horoscope .horoscope-card .horoscope-card-m:hover h6 {color: #fff; }

/*- - - - - - horo-cnt modal start - - - - - - */

.horo-cnt-mm {float: left; width: 100%;}
.horo-cnt {float: left; width: 100%; padding: 0 65px; }
.horo-cnt h2 {color: #000; float: left; width: 100%; font-weight: 600; font-size: 50px; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; }
.horo-cnt h6 {float: left; width: 100%; text-align: center; margin-bottom: 20px;}
.horo-cnt p {font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; float: left; width: 100%; color: #000000!important; }
.horo-cnt h1 {float: left; width: 100%; text-align: center; color: #000; font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 51px;}
.horo-cnt img {max-width: 100%;}

/*- - - - - - horo-cnt modal end - - - - - - */

/*------------------------------------------- our-services Section -------------------------------------------*/

.our-services {float: left; width: 100%; padding: 4% 0; }
.our-services .our-services-m {float: left; width: 100%; overflow: hidden; }
.our-services .our-services-m h2 {color: #000; float: left; width: 100%; font-weight: 600; font-size: 50px; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; }
.our-services .our-services-m h5 {float: left; width: 100%; text-align: center; font-family: 'Poppins'; font-style: normal; margin-bottom: 30px; font-weight: 400; font-size: 17px; }
.our-services .our-services-m-m {float: left; width: 100%; padding: 4% 0; }
.our-services .our-services-m-m .col-sm-6 {float: left;}
.our-services-m-l {float: left; width: 100%; position: relative;}
.our-services-m-l .slbg {position: absolute; top: 0; left: 0; z-index: 0; -webkit-animation: rotation 15s infinite linear; }
.our-services-m-l img.sl {position: relative; z-index: 1; left: 24%; top: -56px; }
.our-services .our-services-m-m .our-services-m-r {float: left; width: 100%; padding: 4% 0; }
.our-services .our-services-m-m .our-services-m-r .col-sm-6 {float: left; padding: 0 25px; }
.our-services .our-services-m-m .our-services-m-r .col-sm-6 .kundli-c {float: left; position: relative; text-align: center; width: 100%; background: #FFFFFF; border: 0.5px solid #D0D0D0; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05); border-radius: 20px; padding: 20% 27px 35px 27px;}
.our-services .our-services-m-m .our-services-m-r .col-sm-6 .kundli-c img {margin-bottom: 20px; max-width: 100%; }
.our-services .our-services-m-m .our-services-m-r .col-sm-6 .kundli-c h4 {font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 32px; color: #000; margin-top: 10px; }
.our-services .our-services-m-m .our-services-m-r .col-sm-6 .kundli-c h6 {font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 18px; color: #A0A0A0; margin-top: 10px; }
.our-services .our-services-m-m .our-services-m-r .kundli-c:hover {	background: linear-gradient(90deg, #FFB800 1.79%, #FF6F00 100%); color: #fff;}
.our-services .our-services-m-m .our-services-m-r .kundli-c:hover h6 {color: #fff;}
.our-services .our-services-m-m .our-services-m-r .kundli-c:hover h4 {color: #fff;}
.our-services .our-services-m-m .our-services-m-r .kundli-c:hover img {filter: brightness(7.0); }
.our-services .our-services-m-m .our-services-m-r .kundli-c .kbg {position: absolute; z-index: 0; top: 29px; left: 10px; -webkit-animation: rotation 15s infinite linear; }

/*------------------------------------------- choose Section -------------------------------------------*/

.choose {float: left; width: 100%; background: url(../image/choose.png); background-repeat: no-repeat; background-size: cover; padding-top: 131px; /* padding-bottom: 164px; */ }
.choose .choose-m {float: left; width: 100%;}
.choose .choose-m h2 {color: #fff; float: left; width: 100%; font-weight: 600; font-size: 50px; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; }
.choose .choose-m h5 {float: left; width: 100%; color: #fff; text-align: center; font-family: 'Poppins'; font-style: normal; font-weight: 400; margin-top: 20px; font-size: 18px; }
.choose .choose-c {float: left; width: 100%; padding: 8% 0; }
.choose .choose-c .col-sm-3 {float: left; text-align: center; position: relative;}
.choose .choose-c h3 {font-family: 'Cormorant Upright'; font-style: normal; font-weight: 600; font-size: 24px; color: #fff; margin-top: 20px; }
.choose .choose-c .c-c1 {-webkit-animation: rotation 15s infinite linear;}
.choose .choose-c h4 {position: absolute; top: 54px; color: #fff; left: 43%; }

/*------------------------------------------- client-rev Section -------------------------------------------*/

.client-rev {float: left; width: 100%; padding: 1% 0 0 0; }
.client-rev .client-rev-m {float: left; width: 100%;}
.client-rev .client-rev-m h2 {float: left; width: 100%; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 50px; color: #000; margin-top: 25px; }
.client-rev .client-rev-m h5 {float: left; width: 100%; text-align: center; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 17px; }
.client-rev .rev-main {float: left; width: 100%; padding: 3% 0; }
.client-rev .rev-main .col-sm-5 {float: left;}
.client-rev .rev-main .col-sm-7 {float: left; padding-left: 65px; border-left: 1px solid rgba(231, 231, 231, 1); }
.client-rev .rev-main .rev-main-c {position: relative; text-align: center; float: left; width: 100%; background: linear-gradient(90deg, #FFB800 1.79%, #FF6F00 100%); border-radius: 19px; padding: 35px 40px; margin: 40px 0; }
.client-rev .rev-main .rev-main-c p {font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 17px; line-height: 162.9%; color: #fff; }
.client-rev .rev-main .rev-main-c h2 {color: #fff; font-size: 22px; }
.client-rev .rev-main .rev-main-c .revbg {position: absolute; top: 4px; right: 4px; }
.client-rev .rev-main .rev-main-c img {-webkit-animation: rotation 15s infinite linear;}
.col-sm-6.rev-main-ll1 {padding: 0 50px 0 0; }
.rev-main-ll {position: relative; float: left; width: 100%;}
.rev-main-ll .rr1 {position: absolute; right: 14px; top: 20px; }
.rev-main-ll .rr2 {
    position: absolute;
    left: 45%;
    top: 94px;
}
.rev-main-ll .rr6 {
    position: absolute;
    right: 27px;
    top: 200px;
}
.rev-main-ll .rr4 {position: absolute; left: 30%; top: 200px; }
.rev-main-ll .rr5 {position: absolute; top: 95px; left: 25px; }
.rev-main-ll .rr6 {position: absolute; right: 27px; top: 178px; }
.rev-main .nav-link {background: transparent!important; }
.rev-main .nav-link img { border-radius: 100px; width: 100%;}
/*.rev-main .nav-link.active img {border: 5px solid #FF6F00; width: 110%; }*/

/*------------------------------------------- client-rev Section -------------------------------------------*/

.know-zod {float: left; width: 100%; padding: 4% 0 7% 0; }
.know-zod .know-zod-m {float: left; width: 100%; margin-bottom: 4%; }
.know-zod .know-zod-m h2 {float: left; width: 100%; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 50px; color: #000; margin-top: 25px; }
.know-zod .know-zod-m h5 {float: left; width: 100%; text-align: center; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 17px; }
.know-zod .zod-form {
    float: left;
    width: 100%;
    background: #FFF9F6;
    border: 1px solid #FFD6B7;
    border-radius: 20px;
    padding: 4% 40px;
    text-align: center;
}.know-zod .zod-form .col-sm-3 {float: left;}
.know-zod .zod-form label {font-family: 'Poppins'; font-style: normal; font-weight: 500; font-size: 21px; }
.know-zod .zod-form input[type="date"] {background: #FFFFFF; border: 1px solid #C2C2C2; box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.15); border-radius: 12px; width: 220px; height: 48px; padding: 0 15px 0px 15px; margin-top: 14px; }
.know-zod .zod-form input[type="time"] {background: #FFFFFF; border: 1px solid #C2C2C2; width: 220px; background: #FFFFFF;  box-shadow: 0px 4px 24px rgb(0 0 0 / 15%); border-radius: 12px; width: 220px; height: 48px; padding: 0 15px 0px 15px; margin-top: 14px; }
.know-zod .zod-form input[type="text"] {background: #FFFFFF; border: 1px solid #C2C2C2; width: 220px; background: #FFFFFF; box-shadow: 0px 4px 24px rgb(0 0 0 / 15%); border-radius: 12px; width: 220px; height: 48px; padding: 0 25px 0px 15px; margin-top: 14px; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; }
.know-zod .zod-form button {background: linear-gradient(90deg, #FFB800 1.79%, #FF6F00 100%); border-radius: 19px; height: 48px; border: none; color: #fff; font-family: 'Poppins'; font-style: normal; font-weight: 500; font-size: 20px; width: 220px; margin-top: 42px; }
.know-zod .zod-form input[type="date"]:hover { border: 1px solid #FF7010; }
.know-zod .zod-form input[type="time"]:hover {border: 1px solid #FF7010;}
.know-zod .zod-form input[type="text"]:hover {border: 1px solid #FF7010;}
.know-zod .zod-form .cityy {position: relative;}
.know-zod .zod-form i {position: absolute; top: 5px; right: 11px; color: #969696; }
.know-zod .zod-form input[type="date"]:focus-visible { outline: 1px solid #FF7010; }
.know-zod .zod-form input[type="time"]:focus-visible { outline: 1px solid #FF7010; }
.know-zod .zod-form input[type="text"]:focus-visible {outline: 1px solid #FF7010; }
.menu-wrap {display: none;}
.menu-button {display: none;}
button#open-button {display: none; }

/*------------------------------------------- Footer Section -------------------------------------------*/

.footer{float: left; width:100%; background-image: url(../image/bg2.png);}
.foot{float: left; width: 100%; padding:  4% 0}
.col-sm-4{float: left;}
.foot1a{float: left; width: 100%;}
.foot1a img{max-width: 100%;}
.foot1b {float: left; width: 100%; text-decoration: none; padding-top: 20px; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 154.4%; color: #fff!important; }
.foot1b i{margin-right: 10px;}
.col-sm-2{float: left;}
.col-sm-3{float: left;}
.foot2b{float: left; width: 100%;  font-family: 'Cormorant Upright'; font-style: normal; font-weight: 700; font-size: 30px; line-height: 134.9%; / or 40px / text-align: center; color: #FFFFFF; }
.foot2c{float: left; width: 100%; padding-top: 25px;}
.foot2c li {font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 261.9%; color: #FFFFFF; }
.foot2c li a{color: #FFFFFF; text-decoration: none;}
.foot4a {float: left; width: 100%; padding-top: 25px; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 210.9%; color: #fff; }
.foot4b{float: left; padding-top: 20px; width: 100%; position: relative;}
.foot4b i {color: #ffff; background: orange; position: absolute; right: 3px; top: 23px; border-radius: 24px; font-size: 17px; padding: 8px 15px; }
.foot4c{float: left; width: 100%;padding-top: 20px; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 14px; color: #FFFFFF;}
.foot4b input {background: #FFFFFF; padding-left: 10px; border-radius: 25px; border: none; width: 100%; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; height: 40px; text-transform: capitalize; }
.foot11{float: left; width: 100%;}
.foot11 img{width: 100%; }
.foot2c ul li::marker {color: #fff; }
.sb-checkbox__input {display: none; }
.sb-checkbox__input:checked + .sb-checkbox__label:after {opacity: 1; }
.sb-checkbox__label {display: inline-block; width: 16px; height: 16px; position: relative; cursor: pointer; }
.sb-checkbox__label:before {content: ""; width: 16px; height: 16px; border: 2px solid; box-sizing: border-box; display: inline-block; position: absolute; top: 0; left: 0; border-radius: 2px; }
.sb-checkbox__label:after {content: " \2713"; font-family: "Material Icons"; font-size: 14px; line-height: 16px; text-align: center; width: 16px; height: 16px; display: block; border-radius: 2px; overflow: hidden; text-align: center; opacity: 0; transition: 0.2s opacity; }
.sb-checkbox__label--green:before {border-color: #fff; }

/*------------------------------------------- Contact Modal Section -------------------------------------------*/

.contact-mod {float: left; width: 100%; text-align: center; padding: 0 0 30px 0; }
.contact-mod h2 {color: #000; float: left; width: 100%; font-weight: 600; font-size: 40px; text-align: center; font-family: 'Cormorant Upright'; font-style: normal; }
.contact-mod h5 {color: #000; float: left; width: 100%; text-align: center; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 13px; }
.contact-mod h2 p {margin: 0;}
.contact-mod .contact-mod-f {float: left; width: 100%; padding: 10px 0; }
.contact-mod .contact-mod-t {float: left; width: 100%; padding: 10px 8px 0 8px; }
.contact-mod .contact-mod-f .col-sm-6 {float: left; padding: 0 8px; }
.contact-mod .contact-mod-f span input {width: 100%; border: 1px solid rgba(210, 210, 210, 1); height: 45px; border-radius: 5px; color: rgba(210, 210, 210, 1); padding: 0 30px 0 10px; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; }
.contact-mod .contact-mod-t textarea {width: 100%; border: 1px solid rgba(210, 210, 210, 1); border-radius: 5px; color: rgba(210, 210, 210, 1); padding: 5px 0 0 10px; font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; }
.contact-mod button {margin-top: 24px; background: linear-gradient(90deg, #FFB800 1.79%, #FF6F00 100%); border-radius: 100px; border: none; font-family: 'Poppins'; font-style: normal; font-weight: 500; color: #fff; font-size: 15px; height: 42px; width: 160px; }
.modal-header {border-bottom: none!important; }
.contact-mod form {float: left; width: 100%; margin-top: 15px; }
.contact-mod .contact-mod-f span {position: relative;}
.contact-mod .contact-mod-f i {position: absolute; top: 5px; right: 10px; color: rgba(150, 150, 150, 1); }

/*/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/= Index Page End /=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=*/

/***===**===**===**===**===**===**===**===**=== Astrology Page End **===**===**===**===**===**===**===**===**=== */